body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
}

header div {
  width: 33%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.active {
  background-color: #ccc;
}

.hidden {
  display: none;
}

.botao {
  width: 50px;
  height: 50px;

  text-align: center;
  line-height: 50px;

  background-color: #40e0d0;
  border-radius: 50%;
  position: fixed;

  font-size: 25px;

  right: 20px;
  bottom: 20px;

  text-decoration: none;
  color: black;
}

.red {
  background-color: red;
}
